footer.footer
    .footer__in
        if loggedUser
            img(src=loggedUser.avatarUrl, width="200px")
            P=loggedUser.email
            button
                a(href=routes.me) 개인정보 
            button
                a(href=routes.logout) 로그아웃

        else
            a(href=routes.login) 로그인
