header.header
    .header__in
        .logo 
            a(href=routes.home) LOGO
        ul
            li 
                a(href=routes.home) HOME
            li
                a(href=routes.board) BOARD
            li 
                a(href="#") VIDEO
            li 
                a(href="#") MAP
        ul
            if !loggedUser
                li 
                    a(href=routes.login) LOGIN
                li 
                    a(href=routes.join) JOIN
            else
                li
                    a(href=routes.me) INFO
                li
                    a(href=routes.logout) LOGOUT
.container
    img(src="../images/bg02.jpg")