extends layouts/main

block content
    .form__container__board__in
        table
            tr
                td(colspan='4').board__in__title=post.title
            tr
                td.board__in__info 작성자
                td.board__in__info
                    a(href=routes.userDetail(post.creator.id))=post.creator.name
                td.board__in__info 조회수
                td.board__in__info=post.views
            tr
                td.board__in__content(colspan='4')
                    img(src=`/${post.imageFile}`)
                    pre
                        p #{post.content.replace(/<br>/gi, '\n')}

        .board__comments
            if post.comments.length === 1
                span.board__comment-number
                    span#jsCommentNumber 1
                    | comment
            else
                span.board__comment-number
                    span#jsCommentNumber=post.comments.length
                    | comments
            ul.board__comments-list#jsCommentList
                each cmt in CMT
                    if cmt.delete === 0
                        li
                            img(src=`/${cmt.creator.avatarUrl}`, align="left")
                            .comment__text__box
                                span.comment__title
                                    a(href=routes.userDetail(cmt.creator.id))=cmt.creator.name
                                span.comment__date=moment(cmt.createdAt).format('YYYY-MM-DD HH:mm')
                                if loggedUser.id == cmt.creator.id
                                    a
                                        i.fas.fa-times
                                .vertical__line
                                span.comment__content=cmt.text
                    else
                        li
                            span 삭제된 댓글입니다.
            form.add__comment#jsAddComment
                textarea( placeholder="Add a comment", name="comment")
                input(type='submit', value='입력')