extends layouts/main

block content

    .board__container
        .board__in
            table
                thead
                    tr.board-table__header
                        td 글번호
                        td.board__table__title 제목
                        td 작성자
                        td 날짜
                tbody
                    each post in posts.reverse()
                        if post.delete == 0
                            tr
                                td
                                    a(href=`/board/${post.id}`)=post.no
                                td.board__title__overflow
                                    a(href=`/board/${post.id}`)=post.title
                                td
                                    a(href=routes.userDetail(post.creator.id)) #{post.creator.name}
                                td
                                    a(href=`board/${post.id}`)=moment(post.createdAt).format('YYYY-MM-DD HH:mm')
                        else
                            tr
                                td
                                    p=post.no
                                td
                                    p.deleted__post__title 삭제된 게시글입니다.
                                td
                                    p
                                td
                                    p=moment(post.createdAt).format('YYYY-MM-DD HH:mm')

            if loggedUser
                a(href="/board/write")
                    button.go__write 글쓰기


            .paging
                if(page)
                    if(page>0)
                        -for(i=page; i>0; i--)
                            span.paging__Number
                                a(href=routes.boardPaging(i))=i
